.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background-color: #1B1F3B;
  padding: 0.75rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header span {
  flex-grow: 1;
  color: white;
}