.item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: white;
  font-size: 1.25rem;
}

.item div {
  flex: 1 1 1;
  margin-left: auto;
}
.item button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
}

.todoCheck {
  transform: scale(2);
  margin-right: 1rem;
}

.finished {
  text-decoration: line-through;
}

.lightmode {
  color: #333;
}
button.lightmode {
  color: #333;
}

.modify-input {
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1rem;
  width: 50%;
}
