body {
  min-height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

